.card {
  position: relative;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #242424;
  background-color: #f1f1f1;
  box-shadow: #515050 0px 8px 24px;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
}

.card h2 {
  margin: 0;
}

.card p {
  font-weight: 500;
  margin: 0;
}

.card:hover {
  transform: scale(1.03);
}

.card label {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.card input[type="checkbox"] {
  transform: scale(2);
}
/* .card:active {
  transform: scale(1);
} */

.buttons button {
  transition: all 0.2s;
}

.buttons button:active {
  transform: scale(0.9);
}

.buttons {
  width: 100%;
  align-self: flex-end;
  margin-top: 1rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.delete {
  color: #ff0303;
}
.update {
  color: greenyellow;
}
