.card-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.button-container {
  display: flex;
  gap: 1rem;
}

.button-container button {
  border: 2px solid white;
  transition: all 0.2s;
}

.button-container .delete-button {
  border-color: red;
  color: red;
}

.button-container button:active {
  transform: scale(0.95);
}

.button-container .delete-button:hover {
  color: rgb(254, 131, 131);
  border-color: rgb(254, 131, 131);
}

@media (max-width: 600px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 901px) and (max-width: 1100px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
